<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>

    <style>
        body {
            background-color: #2e2e2e;
        }

        .boxParent {
            width: 100%;
            height: auto;
            padding: 50px 0px;
            background-color: #2e2e2e;
        }

        .box {
            width: 500px;
            height: auto;
            background-color: #f2f2f2;
            border-radius: 5px;
            padding: 20px 30px;
            margin: 50px;
            flex-direction: column;
            box-shadow: 5px 10px 5px black;
        }

        img {
            width: 150px;
            height: 150px;
            margin: auto;
        }

        h1 {
            font-family: arial;
            text-align: center;
        }

        button {
            padding: 15px 200px;
            cursor: pointer;
            background-color: #2e2e2e;
            border: 1px solid #E1DACA;
            border-radius: 5px;
            margin: 30px 0px 0px 0px;
            color: #E1DACA;
            font-weight: bold;
            font-size: 16px;
        }

        button:hover {
            background-color: #8F805F;
            box-shadow: 5px 5px 5px gray;
            border: 1px solid black;
        }

        p {
            color: #2e2e2e;
            text-align: center;
            size: 16px;
        }
    </style>
</head>

<body>
    <div class="boxParent">
        <center>
            <div class="box">
            <center><img src={{logo}}>
                <h1>Verify your email address</h1>
                <p>
                    Hi <b>{{userName}}</b>,<br><br> We just need to verify your email address before you can access your
                    account.
                    Verify your email address by clicking the button bellow.
                </p>
                <a href="{{link}}">
                    <button>Verify!</button>
                </a>
                <p>or paste this link into your browser
                    <br>
                    <b>LINK: </b><a href="{{link}}">{{link}}</a>
                </p>

                <p>Thanks! &#8211; <i>The Rm Luxe Hotel team</i></p>
            </center>
        </div>
        </center>
    </div>
</body>

</html>