<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>

    <style>
        body {
            background-color: #2e2e2e;
        }

        .boxParent {
            width: 100%;

                {
                    {
                    !-- background-color: #2e2e2e;
                    --
                }
            }
        }

        .box {
            width: 80%;
            height: 90%;
            height: auto;
            background-color: #f2f2f2;
            padding: 20px 30px;
            margin: auto;
            flex-direction: column;
        }

        img {
            width: 50px;
            height: 50px;
            margin: auto;
        }

        h1 {
            font-family: arial;
            text-align: center;
        }



        button {
            padding: 15px 200px;
            cursor: pointer;
            background-color: #2e2e2e;
            border: 1px solid #E1DACA;
            border-radius: 5px;
            margin: 30px 0px 0px 0px;
            color: #E1DACA;
            font-weight: bold;
            font-size: 16px;
        }

        button:hover {
            background-color: #8F805F;
            box-shadow: 5px 5px 5px gray;
            border: 1px solid black;
        }

        p {
            color: #2e2e2e;
            text-align: left;
            size: 18px;
        }

        address {
            text-align: left;
        }

        th {
            text-align: left;
        }

        td {
            text-align: left;
        }

        .roomTable tr:nth-child(even) td {
            background-color: #f2f2f2;
        }

        .roomTable td {
            height: 40px;
        }

        .roomTable th {
            border-bottom: 1px solid black;
            padding-bottom: 10px;
        }
    </style>
</head>

<body>
    <div class="boxParent">
        <div class="box">
            <center>
                <img width="150px" height="150px" src={{logo}}>
                <h1>Reservation Confirmed</h1>
            </center>

            <address>
                68 Cenacle Dr,<br />
                Quezon City, Metro Manila<br />
                <a href="rm.luxehotel@gmail.com">rm.luxehotel@gmail.com</a><br />
                Tel: (+632) 8628-0768<br />
                Cel: +63 917 630 0113<br />
            </address>
            <br><br>


            Hi <b>{{firstName}}</b>,
            <br><br>

            Thank you for choosing RM Luxe Hotel. Your reservation has been <b>CONFIRMED!</b> Please read the necessary
            <b> Terms and Conditions </b> applied to the hotel premises.
            <br />
            You can check your booking details by logging in to our website and going to the payment section.
            <br />
            <br />
            If you have further questions, you may contact us via the number and email provided above. You may also
            approach the front desk for assistance during your stay at the hotel.
            <br />
            <br />
            <b>Thank you.</b>

            <br />
            <br />
            {{!-- <center>
                {{#if isNonUser}}
                <h2 style="color: red;">***IMPORTANT***</h2>
                <h3>Please see your log in Information below:</h3>
                <div style="border: 3px solid red; padding: 5px;">
                    <h1 style="font-weight: normal;"><b>userName/email:</b> {{reservationNumber}}<br /><br /></h1>
                    <h1 style="font-weight: normal;"><b>password:</b> {{reservationNumber}}{{lastName}}</h1>
                    <br /><br />
                    <b>PLEASE USE THIS ACCOUNT TO LOG IN TO OUR WEBSITE. </b>
                </div>
                <br />
                <br />
                {{else}}
                <br />
                {{/if}}


            </center> --}}

            <b>Reservation Information:</b><br />
            <br />
            <table>
                <tr>
                    <td>Reservation Number: </td>

                    <td>{{reservationNumber}} </td>
                </tr>
                <tr>
                    <td>Reservation Date: </td>

                    <td>{{reservationDate}} </td>
                </tr>
                <tr>
                    <td>Payment Mode: </td>

                    <td>{{paymentMode}} </td>
                </tr>

                <tr>
                    <td>Payment Type: </td>

                    <td>{{paymentType}} </td>
                </tr>
                <tr>
                    <td>Guest Name: </td>

                    <td>{{firstName}} {{lastName}} </td>
                </tr>
                <tr>
                    <td>Birthdate: </td>

                    <td>{{birthDay}} </td>
                </tr>

                <tr>
                    <td>Nationality: </td>

                    <td>{{nationality}} </td>
                </tr>
                <tr>
                    <td>Email Address: </td>

                    <td>{{emailAddress}} </td>
                </tr>
                <tr>
                    <td>Complete Address: </td>

                    <td>{{address}} </td>
                </tr>
                <tr>
                    <td>Contact Number: </td>

                    <td>{{contactNumber}} </td>
                </tr>
            </table>

            <br />
            <br />
            <b>Charge Summary:</b><br /><br />
            <div>

                <table style="width: 100%;" class="roomTable">
                    <tr>
                        <th style="text-align: left;">Booking number</th>
                        <th style="text-align: left;">Room type</th>
                        <th style="text-align: left;">Check in</th>
                        <th style="text-align: left;">Check out</th>
                        <th style="text-align: left;">Total nights</th>
                        <th style="text-align: left;">Rate per night</th>
                        <th style="text-align: left;">Total amout due</th>
                    </tr>
                    {{#each reservedRooms}}
                    <tr>
                        <td>{{dataValues.bookingReferenceNumber}}</td>
                        <td>{{dataValues.room.dataValues.roomType.dataValues.roomType}}</td>
                        <td>{{dateFormat dataValues.checkInDate}}</td>
                        <td>{{dateFormat dataValues.checkOutDate}}</td>
                        <td>{{dataValues.numberOfNights}}</td>
                        <td>{{numberFormat dataValues.room.dataValues.roomType.dataValues.roomRate}}</td>
                        <td>{{amountDue dataValues.numberOfNights
                            dataValues.room.dataValues.roomType.dataValues.roomRate }}</td>
                    </tr>
                    {{/each}}
                </table>
                <hr>
                <br />
                <table>

                    <tr>
                        <td><b>Discount:</b></td>
                        <td style="color: black;"><b>{{discountType}}</b></td>
                    </tr>
                    {{!-- {{#if isDownPayment}}
                    <tr>
                        <td><b>Down Payment:</b></td>
                        <td style="color: red;"><b>{{downPayment grandTotal}}</b></td>
                    </tr>
                    {{else}}
                    <tr>
                        <td><b>Full Payment:</b></td>
                        <td style="color: black;"><b>{{numberFormat grandTotal}}</b></td>
                    </tr>

                    {{/if}} --}}
                    <tr>
                        <td><b>Amount Paid:</b></td>
                        <td style="color: green;"><b>{{numberFormat amountPaid}}</b></td>
                    </tr>
                    <tr style="height: 90px;">
                        <td>
                            <b>Grand Total:</b>
                        </td>
                        <td style="color: black;">
                            <b>{{numberFormat grandTotal}}</b>
                        </td>
                    </tr>
                    <tr style="height: 90px;">
                        <td>
                            <h2><b>Remaining Balance:</b></h2>
                        </td>
                        <td style="color: red;">
                            <h2><b>{{remainingBalance grandTotal amountPaid}}</b></h2>
                        </td>
                    </tr>
                </table>
            </div>
            <br />
            <b>NOTE!: </b>Discount will only take effect upon check-in. Please present your valid id to our frontdesk to
            confirm your discount. Thank you.
            <br />
            <br />
            <h3>Hotel reminders:</h3>
            <ol>
                <li>To all guests and visitors, Upon Check-in, kindly present this email booking confirmation to hotel's front-desk together with your one (1) valid ID.</li>
                <br>
                <li>Visitors are allowed until 10:00 PM only.</li>
            </ol> 
            <br />
            <h3>House policy:</h3>
            <ol>
                <li>Check in time starts at 2:00pm and standard check-out is at 12:00NN.(Hotel management has the right
                    to remove guest belongings from the room after check out time if room is already reserved). </li>
                <br>
                <li>Early check-in or late check-out is subject to room availability. </li>
                <br>
                <li>The hotel is not liable for the safety of any valuables left in the guest rooms as governed by the
                    civil code of the Philippines.</li>
                <br>
                <li>Visitors are required to register at the Front Desk in compliance with the Philippine Hotel Code.
                </li>
                <br>
                <li>Strictly NO DRINKING of alcoholic beverages, use of narcotics and toxic substances, Hotel management
                    has the right to remove guest/s or not to allow the guest from entering the premises if the guest is
                    under the influence of these things. </li>
                <br>
                <li>The hotel reserves the right to charge a fee should be there be stained linens, foul odor,losses and
                    breakages in the room for the duration of the guest's stay. A certain amount of fee will depend on
                    the Hotel Policies. </li>
                <br>
                <li>The hotel reserves the right to institute necessary actins under any of the following cases:
                    <ul>
                        <li>Failure to pay upon demand of an outsatnding amount. </li>
                        <li>self-check-out.</li>
                        <li>Guest refuses to conform to the hotel's rules and policies.</li>
                    </ul>
                </li>
                <br>
                <li>Strictly no smoking inside the hotel premises as per the Executive Order no. 26. </li>
                <br>
                <li>Emergency contact numbers must be present in the Front office Desk/ Lobby. </li>
            </ol>

            <br />
            <h3>Terms and Conditions:</h3>
            <ol>
                <li>Check Out time is <b>12:00NN</b> and Check in time is <b>2:00PM.</b> </li>
                <br>
                <li>Strictly <b><u>NO SMOKING/DRINKING</u></b> policy inside the hotel's premises. </li>
                <br>
                <li>The hotel is not responsible for the safety of any valuables left in the guest Rooms as governed by
                    the <b>Civil Code of the Philippines.</b> Visitors are required to register at the Front Desk in
                    compliance with the <b>Philippine Hotel Code. Extra Person charge of <u>PHP 500.00 </u></b> will be
                    added to the bill of the guest if the visitor remains overnight. Visiting hours are from 9:00H to
                    22:00H</li>
                <br>
                <li>Possesion of the following are strictly not allowed within the hotel premises. The hotel reserves
                    the right to report any such activity to the Government.<b>*ILLEGAL DRUGS* *GAMBLING* *FIREARMS*
                        *HEATING ELEMENTS* *SHARP OBJECTS* and *PETS* is not allowed</b></li>
                <br>
                <li>The Hotel Reserves the <b>the right of charge a fee</b> should be there be <b>stained linens, foul
                        odor, losses and breakages in the room</b> for the duration of the guest'stay</li>
                <br>

                <li><b>THE ROOM KEY must be surrendered upon check-out</b> Lost or damaged room key will be charged
                    <b>PHP 500.00</b>
                </li>
                <br>
                <li>The hotel reserves the right to institute necessary actions under the following cases:
                    <ul>
                        <li>Failure to pay upon demand of an outsatnding amount. </li>
                        <li>Self-check-out.</li>
                        <li>Guest refuses to conform to the hotel's rules and policies.</li>
                    </ul>
                </li>
                <br>
                <li><b>CHARGES FOR DAMAGED/MISSING ITEMS:</b>
                    <ul>
                        <li>SMOKING/DRINKING - PHP 10,000.00</li>
                        <li>Tables - PHP 3,000.00</li>
                        <li>Stained Linen - PHP 1,000.00</li>
                        <li>Foul Odor - PHP 1,000.00</li>
                        <li>Bed Runner / Throw Pillow - PHP 500.00</li>
                        <li>Room Key - PHP 500.00</li>
                        <li>Kitchen Wares - PHP 500.00</li>
                        <li>Towel - PHP 500.00</li>
                        <li>Slippers - PHP 200.00</li>
                        <li>Room Key - PHP 500.00</li>
                    </ul>
                </li>
                <br>

            </ol>
            <center style="color: red;"><b>----------------------- This is an auto-generated message please do not reply
                    -----------------------</b></center>
        </div>
    </div>
</body>

</html>