<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>

    <style>
        body {
            background-color: #2e2e2e;
        }

        .boxParent {
            width: 100%;

                {
                    {
                    !-- background-color: #2e2e2e;
                    --
                }
            }
        }

        .box {
            width: 80%;
            height: 90%;
            height: auto;
            background-color: #f2f2f2;
            padding: 20px 30px;
            margin: auto;
            flex-direction: column;
        }

        img {
            width: 50px;
            height: 50px;
            margin: auto;
        }

        h1 {
            font-family: arial;
            text-align: center;
        }



        button {
            padding: 15px 200px;
            cursor: pointer;
            background-color: #2e2e2e;
            border: 1px solid #E1DACA;
            border-radius: 5px;
            margin: 30px 0px 0px 0px;
            color: #E1DACA;
            font-weight: bold;
            font-size: 16px;
        }

        button:hover {
            background-color: #8F805F;
            box-shadow: 5px 5px 5px gray;
            border: 1px solid black;
        }

        p {
            color: #2e2e2e;
            text-align: left;
            size: 18px;
        }

        address {
            text-align: left;
        }

        th {
            text-align: left;
        }

        td {
            text-align: left;
        }

        .roomTable tr:nth-child(even) td {
            background-color: #f2f2f2;
        }

        .roomTable td {
            height: 40px;
        }

        .roomTable th {
            border-bottom: 1px solid black;
            padding-bottom: 10px;
        }
    </style>
</head>

<body>
    <div class="boxParent">
        <div class="box">
            <center>
                <img width="150px" height="150px" src={{logo}}>
                <h1>Reservation Cancelled</h1>
            </center>

            <address>
                68 Cenacle Dr,<br />
                Quezon City, Metro Manila<br />
                <a href="rm.luxehotel@gmail.com">rm.luxehotel@gmail.com</a><br />
                Tel: (+632) 8628-0768<br />
                Cel: +63 917 630 0113<br />
            </address>
                <br><br>

            <p>
                Hi <b>{{firstName}}</b>,
                <br><br>
                Thank you for choosing RM Luxe Hotel. Unfortunately, your reservation has been <b>CANCELLED </b> due to
                unsettled fees. If you have already settled your payment yet received this message, maybe your payment
                is not yet verified. Kindly disregard this and we will send you another email once your booking is
                confirmed.

                If you have further questions, you may contact us or send us an email provided above. <b>Thank you</b>.
                <br />

            </p>


            <b>Reservation Information:</b><br />
            <br />
            <table>
                <tr>
                    <td>Reservation Number: </td>

                    <td>{{reservationNumber}} </td>
                </tr>
                <tr>
                    <td>Reservation Date: </td>

                    <td>{{reservationDate}} </td>
                </tr>
                <tr>
                    <td>Payment Mode: </td>

                    <td>{{paymentMode}} </td>
                </tr>

                <tr>
                    <td>Payment Type: </td>

                    <td>{{paymentType}} </td>
                </tr>
                <tr>
                    <td>Guest Name: </td>

                    <td>{{firstName}} {{lastName}} </td>
                </tr>
                <tr>
                    <td>Birthdate: </td>

                    <td>{{birthDay}} </td>
                </tr>

                <tr>
                    <td>Nationality: </td>

                    <td>{{nationality}} </td>
                </tr>
                <tr>
                    <td>Email Address: </td>

                    <td>{{emailAddress}} </td>
                </tr>
                <tr>
                    <td>Complete Address: </td>

                    <td>{{address}} </td>
                </tr>
                <tr>
                    <td>Contact Number: </td>

                    <td>{{contactNumber}} </td>
                </tr>
                <tr>
                    <td>Reservation Status: </td>

                    <td style="color: red;">Cancelled</td>
                </tr>
            </table>

            <br />
            <br />
            <b>Charge Summary:</b><br /><br />
            <div>

                <table style="width: 100%;" class="roomTable">
                    <tr>
                        <th style="text-align: left;">Room Type</th>
                        <th style="text-align: left;">Check in</th>
                        <th style="text-align: left;">Check out</th>
                        <th style="text-align: left;">Total nights</th>
                        <th style="text-align: left;">Rate per night</th>
                        <th style="text-align: left;">Total amout due</th>
                    </tr>
                    {{#each reservedRooms}}
                    <tr>
                        <td>{{dataValues.roomType}}</td>
                        <td>{{dateFormat dataValues.checkInDate}}</td>
                        <td>{{dateFormat dataValues.checkOutDate}}</td>
                        <td>{{dataValues.numberOfNights}}</td>
                        <td>{{numberFormat dataValues.roomRate}}</td>
                        <td>{{numberFormat dataValues.total}}</td>
                    </tr>
                    {{/each}}
                </table>
                <hr>
                <br />
                <table>

                    <tr>
                        <td><b>Discount:</b></td>
                        <td style="color: black;"><b>{{discountType}}</b></td>
                    </tr>
                    {{!-- {{#if isDownPayment}}
                    <tr>
                        <td><b>Down Payment:</b></td>
                        <td style="color: red;"><b>{{downPayment grandTotal}}</b></td>
                    </tr>
                    {{else}}
                    <tr>
                        <td><b>Full Payment:</b></td>
                        <td style="color: black;"><b>{{numberFormat grandTotal}}</b></td>
                    </tr>

                    {{/if}} --}}
                    <tr>
                        <td><b>Amount Paid:</b></td>
                        <td style="color: green;"><b>{{numberFormat amountPaid}}</b></td>
                    </tr>
                    <tr style="height: 90px;">
                        <td>
                            <b>Grand Total:</b>
                        </td>
                        <td style="color: black;">
                            <b>{{numberFormat grandTotal}}</b>
                        </td>
                    </tr>
                    <tr style="height: 90px;">
                        <td>
                            <h2><b>Remaining Balance:</b></h2>
                        </td>
                        <td style="color: red;">
                            <h2><b>{{remainingBalance grandTotal amountPaid}}</b></h2>
                        </td>
                    </tr>
                </table>
            </div>
            <br />
            <br />
            <center>
                <h1>Thank you for supporting us!</h1>
                <h3>Reymiles Luxe Hotel Team</h3>
            </center>
            <center style="color: red;"><b>----------------------- This is an auto-generated message please do not reply
                    -----------------------</b></center>
        </div>
    </div>
</body>

</html>